body {
    margin: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
}

li {
    color: red;
    font-size: 40px;
    border-style: solid;
    padding: 10px;
}

.alternate {
    color: blue;
}

button {
    font-size: 50px;
    border-color: green;
    padding: 2px;
}